* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #77a6f1;
  color: #2c2627;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #2c2627;
  color: #efd2bc;
}
